fieldset {
  font-family: sans-serif;
  border: 1px solid #1f497d;
  border-radius: 5px;
  padding: 15px;
  width: 98%;
}

fieldset legend {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff;
  width: auto;
}

#tabla_vista,
#barridos,
#cant_lineas,
#notificacion_troncal {
  width: 120px;
}

.notificacionesTable .letra12 {
  font-weight: bold;
}

.radio-container {
  box-sizing: border-box;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
}

.radio-container input {
  box-sizing: border-box;
  top: 9px;
  vertical-align: top;
}

.rounded-checkbox {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.font-weight-bold {
  font-weight: bold;
}

.toogle-type-password {
  margin-right: -2em;
  cursor: pointer;
}
