fieldset {
  font-family: sans-serif;
  border: 1px solid #1f497d;
  border-radius: 5px;
  padding: 15px;
  width: 650px;
}

fieldset legend {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff;
  width: auto;
}

#divcontent_eventos table tbody tr td:first-child:hover,
#divcontent_eventos table tbody tr td:last-child:hover {
  cursor: pointer;
}

.issabel-standard-table {
  width: auto !important;
}
