fieldset {
    font-family: sans-serif;
    border: 1px solid #1F497D;
    border-radius: 5px;
    padding: 15px;
	width:650px;
}

fieldset legend {
    border-radius: 5px;
    box-shadow: 0 0 0 1px #fff;
	width:auto;
}
